/*
COLORS:

Light red: #f59797
Medium red: #cf3c3c
Dark red: #830707

*/

// COLOURS 
$color-primary: #c70c0c;
$color-primary-dark: #6b0e01;
$color-primary-light: #f39b84;
$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-white: #fff;
$color-black: #000;
//FONT
$default-font-size: 1.6rem;
//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;