.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;

    @supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter : blur(10px)) {
        -webkit-backdrop-filter: blur(10px) ;
        backdrop-filter : blur(10px);
        background-color: rgba($color-black, .3);
    }
    @include respond(tab-land) {
        //     display: block;
        //     @include clearfix;
        overflow: auto;
    }
    &__content {
        width: 75%;
        margin: 7rem auto;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .4);
        border-radius: 3px;
        @include absoluteCenter;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.25);
        transition: all .5s .2s;
        // @include respond(tab-land) {
        //     //     display: block;
        //     //     @include clearfix;
        //     overflow: scroll;
        // }
        @include respond(phone) {
            margin: 4rem auto;
        }
    }
    &__left {
        width: 33.333333%;
        display: table-cell;
        @include respond(tab-land) {
            width: 50%;
            display: table-row;
        }
        @include respond(phone) {
            width: 0%;
        }
    }
    &__img {
        display: block;
        width: 100%;
        height: 60vh;
        // @include respond(tab-land) {
        //     width: 50%;
        //     float: left;
        //     height: auto;
        // }
        @include respond(tab-land) {
            float: left;
            width: 50%;
        }
        @include respond(phone) {
            width: 0%;
            display: none;
            // display: block;
        }
    }
    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
        // @include respond(tab-land) {
        //     width: 100%;
        //     display: block;
        //     padding: 4rem 5rem;
        // }
    }
    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;
        hyphens: auto;
        @include respond(tab-land) {
            margin-bottom: 3rem;
            column-count: 1;
        }
    }
    //open popup
    &:target {
        opacity: 1;
        visibility: visible;
    }
    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            text-decoration: none;
            font-size: 4rem;
            display: inline-block;
            transition: all .3s;
            line-height: 1rem;
        }
        &:hover {
            color: $color-primary-dark;
            transform: translateY(-.4rem);
        }
        &:active {
            color: $color-primary-dark;
            transform: translateY(.4rem);
        }
    }
}